<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet-Haven</title>
    <link href="{{url_for('static', filename='css/landingpage_styles.css')}}" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="nav-content">
            <div class="site-logo">
                <a>
                    <img class="logo" src="/static/images/petIconLogo.png" alt="site-logo" />
                    <span class="logo-text">Pet-Haven</span>
                </a>
            </div>
            <div class="nav-link">
                <ul>
                    
                    <li><a href="{{url_for('login')}}">Get Started</a></li>
                    <li><a href="#faqs">About Us</a></li>
                    <li><a href="#contact-us">Contact Us</a></li>
                </ul>
            </div>

        </div>

        </div>
    </nav>
    <main>
        <div class="main-layout">
            <div class="hero-heading">
                <h1> Your <span class="blob-1">One-stop</span> solution to all things <span class="rotate-star">✨</span>&nbsp; <span class="hero-word">Pet</span> 
                <img class="hero-img" src="/static/images/herodog.png" alt="a dog emoji"/>
                </h1>
            </div>

            <section class="cta-section">

                <a class="cta-button" href="{{url_for('login')}}">Get Started</a>
            </section>
           
   
            

        <section class="faqs">
           <h2><a href="#faqs">FAQs</a></h2>
           <details>
            <summary>What is Pet Haven ?</summary><div>
                <p>Your most trusted ....................
                    inding reliable pet care services, from dog purchases to grooming and competitions, can be a
                    challenge without the right platform. Pet owners deserve access to skilled, verified professionals
                    </p>
            </div>
           </details>
           <details>
            <summary>What service we Provide ?</summary><div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam saepe modi aliquam vel alias ipsam, necessitatibus ad doloremque odit id expedita consequuntur, quasi dolore provident maiores sunt cupiditate. Modi, et!</p>
            </div>
           </details>
           <details>
            <summary>How to register if you are a service provider ?</summary><div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam saepe modi aliquam vel alias ipsam, necessitatibus ad doloremque odit id expedita consequuntur, quasi dolore provident maiores sunt cupiditate. Modi, et!</p>
            </div>
           </details>
           <details>
            <summary>Data Policy</summary><div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam saepe modi aliquam vel alias ipsam, necessitatibus ad doloremque odit id expedita consequuntur, quasi dolore provident maiores sunt cupiditate. Modi, et!</p>
            </div>
           </details>
        </section>


        <section class="contact-us">
            
            <h2><a href="#contact-us">Where to reach us</a></h2>
            <p>You can reach us at </p>
            <ul>
                <li>✉️ pethavenservice@gmail.com</li>
                <li>📞 9999999999</li>
            </ul>
            <p><strong>Note -</strong> Timings: Mon - Fri (Weekdays) 10 am - 7 pm</p>
        </section>
    </div>
    </main>
    <footer>
        <p>&copy; Pet Haven Inc.  <span>🐾</span></p>

        <div class="blob-footer">
            <div class="blob-footer-1" ></div>
            <div class="blob-footer-2"></div>
            <div class="blob-footer-3"></div>
        </div>
        
        <img class="footer-img-1" src="/static/images/footer-dog-1.png" alt="dog-image"/>

        


            <img class="footer-img-3" src="https://imgproxy.attic.sh/VAS-jK4ir_4NGlDAmxQc_6BKn_bqY_f8oB-8wZ7_Ut4/rs:fit:128:128:1:1/t:1:FF00FF:false:false/pngo:false:true:256/aHR0cHM6Ly9hdHRp/Yy5zaC9ydW5wb2Qv/MmMyZjYwODAtMTYz/YS00ZjZmLWE5M2Qt/NGRhMWQwNDQwZjYz/LnBuZw.png" alt="Dog agility emoji" width="128" height="128" />
          
                <img class="footer-img-2" src="https://imgproxy.attic.sh/IHDCJIzugiXzZcgUhx7sXdyNsbm8ILoS9VsCgL0EK54/rs:fit:128:128:1:1/t:1:FF00FF:false:false/pngo:false:true:256/aHR0cHM6Ly9hdHRp/Yy5zaC8wNXpmbmxq/MDVta3oydjEwd3Jn/cWpyeDN5cXc2.png" alt="Human with dog emoji" width="128" height="128" />

                

            
    </footer>
</body>
</html>